-- ============================================================
-- TaskHub - Database Schema (Reference Only)
--
-- DO NOT execute this script manually.
-- The application automatically creates the database,
-- applies migrations, and seeds initial data on first run
-- via EF Core
-- ============================================================

-- ============================================================
-- Table: Users
-- ============================================================
CREATE TABLE [dbo].[Users] (
    [Id]           UNIQUEIDENTIFIER    NOT NULL,
    [Username]     NVARCHAR(50)        NOT NULL,
    [PasswordHash] NVARCHAR(MAX)       NOT NULL,
    CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED ([Id] ASC)
);

CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Username]
    ON [dbo].[Users] ([Username] ASC);

-- ============================================================
-- Table: Tasks
-- ============================================================
CREATE TABLE [dbo].[Tasks] (
    [Id]          UNIQUEIDENTIFIER    NOT NULL,
    [UserId]      UNIQUEIDENTIFIER    NOT NULL,
    [Title]       NVARCHAR(100)       NOT NULL,
    [Description] NVARCHAR(1000)      NULL,
    [IsCompleted] BIT                 NOT NULL,
    [Category]    NVARCHAR(50)        NULL,
    [CreatedAt]   DATETIMEOFFSET(7)   NOT NULL,
    [UpdatedAt]   DATETIMEOFFSET(7)   NULL,
    [DeletedAt]   DATETIMEOFFSET(7)   NULL,
    [CompletedAt] DATETIMEOFFSET(7)   NULL,
    [Deadline]    DATETIMEOFFSET(7)   NULL,
    CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED ([Id] ASC),
    CONSTRAINT [FK_Tasks_Users_UserId] FOREIGN KEY ([UserId])
        REFERENCES [dbo].[Users] ([Id]) ON DELETE CASCADE
);

CREATE NONCLUSTERED INDEX [IX_Tasks_UserId]
    ON [dbo].[Tasks] ([UserId] ASC);